* {
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  li {
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: lightsalmon;
  }

  .active {
    font-weight: bold;
  }

  .title {
    font-size: 5vw;
    text-align: center;
  }

  .daylist {
    display: flex;
    justify-content: space-evenly;
  }

  .dailydata {
    display: flex;
    justify-content: space-evenly;
  }


  .listbox {
    padding: 10px;
    border: solid 1px;
    text-align: center;

  }

  .today {
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-size: 25px;
  }

  form {
   margin: 0px 20px 20px 20px;
  }

  input {
    border: lightgrey 1px solid;
    font-size: 18px;
    background-color: white;
  }